* {
    margin:0;
    padding:0;
}
body {
    background: #4DA0B0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #D39D38, #4DA0B0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #D39D38, #4DA0B0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.main_container {
    width:80vw;
    margin:auto;
    min-height:60vh;  
    padding:10px;
}
.summary_container {
    width:80vw;
    margin:auto;
    margin-top: 3vh;
    padding:10px;
}
.header_container {
    background-color:rgb(81, 97, 97);
    color:rgb(228, 226, 226);
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 5px;
    padding:5px;
    margin-top: 3vh;
}
.header_container_nav {
    display:grid;
    grid-column:5px;
    grid-template-columns: 15vw 15vw 15vw 15vw 14vw 3vw 3vw;
    column-rule: 1px;
    text-align:center;
}
.add_todo {
    display:flex;
    align-items: center;
    background-color:bisque;
    border-radius: 5px;
    margin-top: 0.2vh;
    padding:5px;
}
.add_todo input,select {
    font-family:Arial, Helvetica, sans-serif;
    width:120px;
    margin-right: 20px;
    background-color:rgb(255, 237, 214);
    border: 1px solid rgb(180, 179, 179);
    border-radius: 3px;
}
.add_todo p{
    font-family:Arial, Helvetica, sans-serif;
    margin-right: 5px;
}
.add_todo button {
    width:7vw;
    border-radius: 5px;
    font-weight: 700;
    margin:auto;
    padding: 0.5rem;
    border:none;
    cursor:pointer;
    color:black;
    background: rgb(250, 192, 121);
    transition: all 0.3s ease;
}
.add_todo button:hover {
        background:#3c1053;
        color:white;
}
.list_item_div {
    width:80vw;
    margin-top:1vh;
}
.list_item_li {
    display:flex;
    background-color:burlywood;
    padding:6px;
    border-radius: 5px;
}
.list_item_li button {
    margin-right: 20px;
    font-size: 1.1rem;
    background:burlywood;
    border:none;
    flex:1;
    cursor:pointer;
    color:black;
    transition: all 0.3s ease;
}
.list_item_li button:hover {
    color:white;

}
.list_item_li form {
    display:grid;
    font-size: 1.1rem;
    grid-column: 5px;
    grid-template-columns: 15vw 15vw 15vw 14vw 14vw;
    list-style: none;
    text-align: center;
}
.list_item_li form i {
    font-size: 1rem;
    padding:8px;
    color:white;
    border-radius:100%;
    background-color: rgb(92, 70, 42);
    margin-right:10px;
}
.summary_nav {
    grid-template-columns: 30vw 15vw 15vw ;
}
.fa-trash,
.fa-archive,
.fa-pencil-alt {
    pointer-events: none;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline:none;
    box-shadow: none;
    cursor: pointer;
}
.edit_input {
    font-family:Arial, Helvetica, sans-serif;
    width:120px;
    margin-right: 20px;
    background-color:rgb(255, 237, 214);
    border: 1px solid rgb(180, 179, 179);
    border-radius: 3px;
}