* {
    margin:0;
    padding:0;
}
body {
   background:rgb(0, 0, 0); 
}
.main_container {
    width:80vw;
    margin:auto;
    min-height:70vh;  
    padding:10px;
}
.summary_container {
    width:80vw;
    margin:auto;
    margin-top: 3vh;
    padding:10px;
}
.header_container {
    background-color:rgb(2, 58, 73);
    color:rgb(228, 226, 226);
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-radius: 5px;
    padding:5px;
    margin-top: 3vh;
}
.header_container_nav {
    display:grid;
    grid-column:5px;
    grid-template-columns: 15vw 15vw 15vw 15vw 14vw 3vw 3vw;
    column-rule: 1px;
    text-align:center;
}
.add_todo {
    font-family: sans-serif;
    width:20vw;
    background-color:rgb(2, 58, 73);
    border-radius: 5px;
    margin: 0.1vh auto;
    text-align:center;
    padding:20px;
}
.add_todo h2 {
    font-weight: 500;
    color:white;
}
.add_todo input,select {
    width:150px;
    margin: 5px auto;
    background:none;
    border: 2px solid black;
    border-radius: 10px;
    text-align:center;
    padding: 14px 10px;
    color:white;
    transition:0.25s;
}
input::placeholder {
    color:white;
}

.add_todo button {
    width:174px;
    border-radius: 10px;
    font-weight: 700;
    margin:auto;
    padding: 14px 10px;
    border: 2px solid black;
    cursor:pointer;
    color:white;
    background: rgb(2, 58, 73);
    transition: all 0.3s ease;
}
.add_todo button:hover {
        background:#3c1053;
        color:white;
}
.list_item_div {
    width:80vw;
    margin-top:1vh;
}
.list_item_li {
    display:flex;
    background-color:rgb(2, 58, 73);
    padding:6px;
    color:white;
}
.list_item_li button {
    margin-right: 20px;
    font-size: 1.1rem;
    background:rgb(2, 58, 73);
    border:none;
    flex:1;
    cursor:pointer;
    color:white;
    transition: all 0.3s ease;
}
.list_item_li button:hover {
    color:white;

}
.list_item_li form {
    display:grid;
    font-size: 1.1rem;
    grid-column: 5px;
    grid-template-columns: 15vw 15vw 15vw 14vw 14vw;
    list-style: none;
    text-align: center;
}
.list_item_li form i {
    font-size: 1rem;
    padding:8px;
    color:white;
    border-radius:5px;
    background-color: rgb(2, 58, 73);
    margin-right:10px;
}
.summary_nav {
    grid-template-columns: 30vw 15vw 15vw ;
}
.fa-trash,
.fa-archive,
.fa-pencil-alt,
.fa-check {
    pointer-events: none;
}
.add_todo select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline:none;
    box-shadow: none;
    cursor: pointer;
    background:rgb(2, 58, 73);
    width:174px;
}
.edit_input  {
    width:100px;
    margin: 2px auto;
    background:none;
    border: 2px solid black;
    border-radius: 10px;
    text-align:center;
    padding:0;
    color:white;
    transition:0.25s;
}
.edit_select {
    background-color:rgb(2, 58, 73);
}
.summary_list_div {
    margin-top:1vh;
}
.summary_list_li {
    display:flex;
    background-color:rgb(2, 58, 73);
    padding:6px;
    list-style:none;
    color:white;
}
.summary_list_li form {
    font-size: 1.1rem;
    grid-column: 5px;
    display:grid;
    grid-template-columns: 30vw 15vw 15vw;
    text-align:center;
}
